input{
    font-size: 18px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid blue;
    color: black;
    background-color: white;
    padding:10px;
    margin: 10px;
}
button{
    padding: 10px;
    border: none;
    background-color: skyblue;
    color: black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    margin: 20px;

}