body{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    color: blue;
}
.container{
    border: 1px solid black;
    height: 80vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}